
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}
.logo{
    width:20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 60%;
   
}
.navbar{
    display:flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor :pointer ;
    font-family: 'Roboto', sans-serif;
    background-color: burlywood;


}
.nav_list{  
    width: 50%;
    display: flex;
    align-items: flex-end;
    
}

.nav_list li{
    list-style: none;
    padding: 26px 30px;
}
.nav_list li a :hover{
    color: grey;
}

.nav_list li a{
    text-decoration: none;
    color:black;
    

}

.rightNav{
    width: 50%;
    text-align: right;

}

#search{
    padding: 5px;
    font-size: 17px;
    border: hgugy solid gray;
    border-radius: 9px;
}
.background  {
 
    background : rgba (0,0,0,0.7);
    background-image: url(mainback.jpg); 
    background-size: 95%;
    background-repeat: repeat-x;
    background-blend-mode: darken;

}

.firstSection{
    height: 100vh;

}
.box-main{
    display:flex  ;
    justify-content : center ;
    align-items: center;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80%;
}
.firstHalf{
width: 80%;
color:black v ;
display:flex ;
flex-direction: column;
justify-content: center;

}
.text-big{
    font-size: 100px;
    font-family: 'Roboto', sans-serif;
}
.text-small{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    

}

.btn{
    padding: 8px 20px;
    height: 40px;
    margin: 7px 0;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    
}
.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 18px;
    margin: 24px;
    font-size:25px;
    background-color:rgb(241, 205, 205);
    
}
.secRight {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
.paras{
    padding: 0px 65px;
    
}
.sectionTag{
    font-size: xx-large;
    justify-content: left;
}
